@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
body {
    display: flex;
    justify-content: center;
    margin: 0px;
}
img {
    height: 112px;
    width: 112px;
    margin-top: 42px;
}
main {
    margin: auto;
}
.godText {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px 32px 47px 32px;
}
.person-wrapper {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid violet;
    text-align: center;
    border-radius: 10px;
    max-width: 360px;
    margin-bottom: 16px;
    position: relative;
    background-color: lightblue;
}
.name {
    padding-top: 10px;
    font-family: 'Comic Neue';
}
.dot {
    background-color: lightgreen;
    border: 1px solid black;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
}
@media screen and (min-width: 480px) {
    .pepope{
        display: flex;
        flex-direction: row;
    }
    div {
        margin-right: 16px;
    }
  }
