@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
body {
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 75px;
    color: limegreen;
    background-color: darkred;
}
img {
    display: flex;
    justify-content: center;
    height: 112px;
    width: 112px;
    margin-top: 42px;
    
}
main {
    margin: auto;
}
.godText {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px 32px 47px 32px;
    color: #F28500;
}
.godText::before {
    content: "☭";
    font-size: 67px;
    color: red;
}
.person-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px -0.5px 31px fuchsia;
    
    text-align: center;
    border-radius: 10px;
    max-width: 370px;
    max-height: 350px;
    margin-bottom: 16px;
    background-color: black;
}
.name {
    padding-top: 10px;
    font-family: 'Comic Neue';
}
